/*
 * 
 * ATTRIBUTE: HTML5 Boilerplate -- h5bp.com
 * AUTHOR & CUSTOMIZED: AJ v Bahnken -- @ajvbahnken -- aj@builtbyptm.com
 * 
 * Please steal this code and build upon it. If you make awesome improvments
 * that are generic enough, please fork this project and apply your CSS/HTML/etc.
 * 
 * Since this is the media-generic style.css file, ALL HTML5 goodness is below.
 * If you grab the media-bootstrap style.css file, there are only a few lines from H5BP.s
 * 
 * /
/* HTML5 Boilerplate  */
html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; font-size: 1em; line-height: 1.4; }}
::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }
a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }
form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }
table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

/* End of HTML5 Boilerplate */
/*=== Primary ===*/
a {text-decoration: none; outline: 0;}
a img {border: 0px; text-decoration: none;}
a:visited {text-decoration: none;}
a:hover, a:active{text-decoration: none;}
/*====Testing Elements=======*/
.tb{border: 1px solid #000;}
/*========= Form ============
 * TODO: Make variants of this. Test more.
 */
.form {display:block;padding-left:10px;}
.form ul, .form li{
border:0; margin:0; padding:0; list-style:none;
}
.form li{
clear:both;
list-style:none;
padding-bottom:10px;
}
.form textarea{
    max-width: 210px;
}
/*======= Controls ==========*/
.acenter a {text-align:center;}
.center {text-align:center;margin: 0 auto;float:none;}
.center-float-left {margin: 0 auto;float:left;}
.centerimg img{text-align:center;margin-left:0;margin-right:0;float:none;}
.leftimg img{text-align:left;float:left;}
.rightimg img{text-align:right;float:right;}
.lesspadding{padding-bottom:0px;}
.left        { float: left; }
.right       { float: right; }
.text-left   { text-align: left; }
.text-right  { text-align: right; }
.text-center { text-align: center; }
/*-Padding fixes-*/
/*  
 * .pad {padding: em;}
 * .pad-top {padding-top: em;}
 * .pad-right {padding-right: em;}
 * .pad-bottom {padding-bottom: em;}
 * .pad-left {padding-left: em;}
 */
.pad {padding: 1em;}
.pad-top {padding-top: 1em;}
.pad-right {padding-right: 1em;}
.pad-bottom {padding-bottom: 1em;}
.pad-left {padding-left: 1em;}

.pad3-5 {padding: 3.5em;}
.pad-top3-5 {padding-top: 3.5em;}
.pad-right3-5 {padding-right: 3.5em;}
.pad-bottom3-5 {padding-bottom: 3.5em;}
.pad-left3-5 {padding-left: 3.5em;}

.pad5 {padding: 5em;}
.pad-top5 {padding-top: 5em;}
.pad-left5 {padding-left: 5em;}
.pad-bottom5 {padding-bottom: 5em;}
.pad-right5 {padding-right: 5em;}

.pad7 {padding: 7em;}
.pad-top7 {padding-top: 7em;}
.pad-right7 {padding-right: 7em;}
.pad-bottom7 {padding-bottom: 7em;}
.pad-left7 {padding-left: 7em;}
/*-Margin fixes-
 * .mar {margin:;}
 * .mar-top {margin-top:;}
 * .mar-right {margin-right:;}
 * .mar-bottom {margin-bottom:;}
 * .mar-left {margin-left:;}
 */
/* ---- Typography ---------- */
.unh h1, .unh h2,
.unh h3, .unh h4,
.unh h5, .unh h6{text-decoration:underline;}
.ts3 h1, .ts3 h2,
.ts3 h3, .ts3 h4,
.ts3 h5, .ts3 h6{text-shadow: 0.8px -0.8px 1px rgba(0,0,0,.3);}
.ts5 h1, .ts5 h2,
.ts5 h3, .ts5 h4,
.ts5 h5, .ts5 h6{text-shadow: 1px -1px 1px rgba(0,0,0,.5);}

/*--Error Messages--*/
.msgs h4,
.errorlist {
    color: #C32020;
    text-align: center;
    margin: 10px;
}
/* ---- Border Radius ---------*/
.bord2 {-moz-border-radius: 2px;-webkit-border-radius: 2px;border-radius: 2px;}
.bord5 {-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;}
.bord10 {-moz-border-radius: 10px;-webkit-border-radius: 10px;border-radius: 10px;}
.bord15 {-moz-border-radius: 15px;-webkit-border-radius: 15px;border-radius: 15px;}
.bord20 {-moz-border-radius: 20px;-webkit-border-radius: 20px;border-radius: 20px;}
.bord30 {-moz-border-radius: 30px;-webkit-border-radius: 30px;border-radius: 30px;}
.bord50 {-moz-border-radius: 50px;-webkit-border-radius: 50px;border-radius: 50px;}
.bord70 {-moz-border-radius: 75px;-webkit-border-radius: 75px;border-radius: 75px;}
.bordfull {-moz-border-radius: 125px;-webkit-border-radius: 125px;border-radius: 125px;}
/* ----- Generic Box Shadows -----------*/
.boxrb {-webkit-box-shadow: 3px 3px 1px 0px rgba(0, 0, 0, .5);-moz-box-shadow: 3px 3px 1px 0px rgba(0, 0, 0, .5);box-shadow: 3px 3px 1px 0px rgba(0, 0, 0, .5);}
.boxlb {-webkit-box-shadow: -3px 3px 1px 0px rgba(0, 0, 0, .5);-moz-box-shadow: -3px 3px 1px 0px rgba(0, 0, 0, .5);box-shadow: -3px 3px 1px 0px rgba(0, 0, 0, .5);}
.boxbottom {-webkit-box-shadow: 0px 10px 2px -5px rgba(0, 0, 0, .5);-moz-box-shadow: 0px 10px 2px -5px rgba(0, 0, 0, .5);box-shadow: 0px 10px 2px -5px rgba(0, 0, 0, .5);}
/*============================
        END OF HELPER
=============================*/
/*===========================
 *        Container
 ===========================*/
.container {

}

/*============================
 *          Nav
 ============================*/
#banner {

}

#banner h1 {

}

.nav {

}


/*============================
           Main
============================*/
.main {


}

/*============================
        Footer
=============================*/
footer {
    padding: .5em 0 0 0;
}
footer a:hover {
    font-style: italic;
}
/* Created/Powered by */
footer b{
    font-weight: normal;
}

div.ptm{
    margin-bottom: 8px;
    text-align: center;
    text-transform: uppercase;
}
.ptm b {font-weight: bolder;padding-left:2px;}
/*====== Browser Specific ======
 *            And
======= Modernizer Classes ==== 
* 
* NOTE: The @-moz is the ghetto way. The better way to do cross-browser
* testing is to you the css_browser_selector.js found in the /media/js 
* folder of this project. Check out: http://rafael.adm.br/css_browser_selector/
* 
* Also, in the generic style.css, Modernizr is disabled by default. Enable it
* for the use of .ie6, .ie7, .ie8, .no-js, .oldie.
* */
.ie6 {

}
.ie7 {

}
.ie8 {

}
.no-js {

}
.oldie {

}
/* For the pop-up */
.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }

/* ==|== non-semantic helper classes ======================================== */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }
/* ==|== media queries ====================================================== 
* NOTE: Inline css is important for mobile.
*/
@media (max-width: 480px){


}
@media (max-width: 720px){


}
@media (min-width: 768px) and (max-width: 979px) {


}
@media (min-width: 980px) {


}
@media (min-width: 1200px){


}
/* ==|== print styles ======================================================= */ 
@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } 
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
